@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ToSic.Sxc.Blocks
@using AppCode
@using AppCode.Data

@{
  var amount = MyModel.Get<int>("amount");
  var max = MyModel.Get<int>("max");
  var color = MyModel.Get<string>("color");
  var suffix = MyModel.Get<string>("suffix", required: false) ?? string.Empty;
}

@if(amount > 0)
{
  <div style="width: 100%; background-color: #f3f3f3; border-radius: 5px; position: relative; border: 1px solid #ccc;">
    <div style="width: @(amount <= max ? (amount / (double)max) * 100 : 100)%; background-color: @color; height: 20px; border-radius: 5px;" />
    <span style="position: absolute; top: 0; right: 0; transform: translateX(0); color: black;">
      @(amount > 0 ? amount.ToString() : "")@suffix
    </span>
  </div>
}