@inherits Custom.Hybrid.RazorTyped

@* Load DataTables.Net *@
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

@* Load DataTables fixedHeader files *@
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.css" />
<script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
<script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>

<div @Kit.Toolbar.Default(MyItem)>
    <h1>All Resources and People</h1>
</div>

@Html.Partial("Trainings.PartTable.cshtml")